:root {
    --slate-dominant-text-color: #434455;
    --navy-blue-dark-shadows-headings-color: #2e2f42;
    --iris-primary-brand-links-color: #4d5ae5;
    --white-bgc-header-teamcard-color: #ffffff;
    --cloud-light-bgc-footertext-color: #f4f4fd;
    --ocean-bgc-hover-focus-active-color: #404bbf;
    --cornflower-accent-color: #e7e9fc;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate-dominant-text-color);
    background-color: var(--white-bgc-header-teamcard-color);

}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    border-color: var(--cornflower-accent-color);
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;

}
.container-header {
    display: flex;
}

.header-navigation {
    display: flex;
    align-items: center;


}

.header-logo,
.header-logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px
}

.header-logo {
    color: var(--iris-primary-brand-links-color);
}

.header-logo-studio {
    color: var(--navy-blue-dark-shadows-headings-color);
}

.header-list {
    display: flex; 
    padding: 24px 0;
    padding: 24px 0 24px;
    gap: 40px
}

.header-item {
    margin-right: 40px 
    
}

.header-link,
.header-address-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    padding: 24px 0 24px;

}

.header-link {
    color: var(--navy-blue-dark-shadows-headings-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--ocean-bgc-hover-focus-active-color);
}

.header-address {
    font-style: normal;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-item {
    margin-right: 40px;
    display: flex;
}

.header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-dominant-text-color);
}

.header-address-link:hover,
.header-address-link:focus {
    color: var(--ocean-bgc-hover-focus-active-color);
}

.hero {
    background-color: var(--navy-blue-dark-shadows-headings-color);
    padding: 188px 0 188px;
}

.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-bgc-header-teamcard-color);
    text-align: center;
    max-width: 496px;

}

.hero-button {
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-bgc-header-teamcard-color);
    background-color: var(--iris-primary-brand-links-color);
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    

}

.hero-button:hover {
    background-color: var(--ocean-bgc-hover-focus-active-color);
}
.hero-button:focus {
    background-color: #404BBF
}

.feature {
    padding: 120px 0;
}

.hidden-title {
    
}

.feature-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    margin-bottom: 8px;
    width: calc((100% - 72px) / 4); 
}

.feature-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-dark-shadows-headings-color);
}

.feature-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-dominant-text-color)
}

.about-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-dark-shadows-headings-color);
    text-align: center;
}

.footer-logo link {
    width: none;
    height: none;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    /* IRIS */

    color: #4d5ae5;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-dark-shadows-headings-color);
    text-align: center;
}


.list {
    list-style: none;
}

main {
    display: block;
}

.footer {
    background-color: #2e2f42;
    background-color: var(--navy-blue-dark-shadows-headings-color);
}
footer {
    display: block;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-primary-brand-links-color);
}

.footer-logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud-light-bgc-footertext-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-light-bgc-footertext-color);
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

.link {
    text-decoration: none;
}
